<!doctype html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml"  xml:lang="vi">


    <head>
        <meta charset="utf-8" />
        <title>Page-name</title>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
        <meta name="theme-color" content="#0099ff" />

        <meta http-equiv="Content-Language" content="VN" />
        <meta name="description" content="Page-name" />
        <meta name="keywords" content="" />
        <meta property="og:url" name="og:url" content="" data-app/>
        <meta property="og:type" name="og:type" content="website" data-app/>
        <meta property="og:description" name="og:description" content="Page-name" data-app/>
        <meta property="og:title" name="og:title" content="Page-name" data-app/>

        <meta property="og:image" name="og:image" content="/uploaded/logo/logo.png" data-app>
        <meta property="og:image:alt" name="og:image:alt" content="/uploaded/logo/logo.png" data-app>
        <link href="/favicon.ico" rel="shortcut icon" />        

     
        <link rel="stylesheet" type="text/css" href="/css/style.css" />

        <link rel="stylesheet" type="text/css" href="/css/grid.css" />
        <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       
        <link rel="stylesheet" type="text/css" href="/css/font.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
        <link rel="stylesheet" href="/css/jquery-ui.css" />

        <link rel="stylesheet" href="/css/jquery.fancybox.css" />
        <link rel="stylesheet" href="/css/hover.css" />
        <script src="/js/jquery-1.10.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>



    </head>    


<body>



<div id="page">

  <!-- header pc -->

    <header class="header hide-on-pad hide-on-tab">
        
     <div class="topheader">
      <div class="grid">
        <div class="flex-container align-center">
          <div class="cell-1-3 tab-cell-1-1">
              <div class="topheader-left">
                Traveller's Choice Award 2024
              </div>
          </div>
          <div class="cell-1-3 tab-cell-1-1">
            <div class="topheader-right">
                <div class="select-city">
                  <i class="fas fa-map-marker-alt"></i> City <i class="fas fa-angle-down"></i>
                  <ul> 
                    <li> <a href="#"> Vietnam Tour Packages from Mumbai</a></li>            
                    <li> <a href="#">   Vietnam Tour Packages from Delhi</a></li>        
                    <li> <a href="#">  Vietnam Tour Packages from Kolkata</a></li>
                    <li> <a href="#"> Vietnam Tour Packages from Bangalore</a></li>
                    <li> <a href="#">  Vietnam Tour Packages from Chennai</a></li>
                    <li> <a href="#"> Vietnam Tour Packages from Hyderabad</a></li>
                  </ul>
                </div>
                <div class="topheader-menu">
                  <a href="#">B2B quote</a>
                </div>
            </div>
          </div>
        </div>
      </div>
   </div>
      <div class="grid">
        
        <div class="flex-container align-center">
            <div class="cell-1-5">
              <div class="logo">
                <a href="/">
                  <img src="/uploaded/logo/logo.png" alt="LogoSite"
                    style="max-width:100%; margin:0 auto"></a>
                </div>
            </div>
           <div class="cell-4-5">
            <div class="menubar">
               <ul class="nav  hide-on-mobile">
                 
                  <li class=""> <a href="#"> Tour Packages <i class="fas fa-angle-down"></i> </a>
                    <ul class="mega-menu megamenu-tour">
                      <div class="flex-container flex-flex-start">
                        <li class="mega-menu-item">
                          <a href="#" class="megamenu-item-link">By duration</a>
                          <ul class="mega-submenu">
                            <li class="megasubmenu-item">
                              <a href="#"> 4 days</a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#"> 5 days</a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#"> 6 days</a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#"> 7 days</a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#"> 8 days</a>
                            </li>
                          </ul>
                        </li>
                        <li class="mega-menu-item">
                          <a href="#"  class="megamenu-item-link">By style</a>
                          <ul class="mega-submenu">
                            <li class="megasubmenu-item">
                              <a href="#"> Vietnam classic tour</a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#">Vietnam Family Holidays </a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#">Vietnam Beach Holidays </a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#"> Vietnam Honeymoon</a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#"> Vietnam luxury tour</a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#"> Vietnam group tour</a>
                            </li>
                          </ul>
                        </li>
                        <li class="mega-menu-item">
                          <a href="#"  class="megamenu-item-link">Multi-Country Tours</a>
                          <ul class="mega-submenu">
                            <li class="megasubmenu-item">
                              <a href="#"> Vietnam classic tour</a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#">Vietnam Family Holidays </a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#">Vietnam Beach Holidays </a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#"> Vietnam Honeymoon</a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#"> Vietnam luxury tour</a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#"> Vietnam group tour</a>
                            </li>
                          </ul>
                        </li>
                      </div>
                    
                    </ul>
                  </li>
                  
                  <li class=""> <a href="#">  About Us <i class="fas fa-angle-down"></i> </a>
                    <ul class="mega-menu megamenu-about">
                      <div class="flex-container flex-flex-start">
                        <li class="mega-menu-item">
                          <a href="#"  class="megamenu-item-link">About Vietnamtour.in</a>
                          <ul class="mega-submenu">
                            <li class="megasubmenu-item">
                              <a href="#"> Our Story</a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#">Meet Our Team </a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#">Why Choose Us? </a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#"> Social Responsibility</a>
                            </li>
                            
                          </ul>
                        </li>
                        <li class="mega-menu-item">
                          <a href="#"  class="megamenu-item-link">Career</a>
                          <ul class="mega-submenu">
                            <li class="megasubmenu-item">
                              <a href="#"> Vietnam classic tour</a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#">Vietnam Family Holidays </a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#">Vietnam Beach Holidays </a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#"> Vietnam Honeymoon</a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#"> Vietnam luxury tour</a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#"> Vietnam group tour</a>
                            </li>
                          </ul>
                        </li>
                        
                      </div>
                    
                    </ul>
                 
                  </li>
                  <li class=""> <a href="#"> Inspirations <i class="fas fa-angle-down"></i> </a>
                    <ul class="mega-menu">
                      <div class="flex-container flex-flex-start">
                        <li class="mega-menu-item">
                          <a href="#"  class="megamenu-item-link">About Vietnamtour.in</a>
                          <ul class="mega-submenu">
                            <li class="megasubmenu-item">
                              <a href="#"> Our Story</a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#">Meet Our Team </a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#">Why Choose Us? </a>
                            </li>
                            <li class="megasubmenu-item">
                              <a href="#"> Social Responsibility</a>
                            </li>
                            
                          </ul>
                        </li>
                       
                      </div>
                    
                    </ul>
                 
                  </li>
                  <li class=""> <a href="#">  Reviews </a> </li>
                  <li class=""> <a href="#"> <i class="fab fa-facebook"></i>  Facebook group </a> </li>
                  <div class="booktour">
                    <a href="#"> Get a quote</a>
                  </div>
                  <div class="icon-search">
                    <i class="fa fa-search search-icon" aria-hidden="true"></i> 
                    <div class="search-pc" style="display: none;">
                        <form action="/search/" method="get" id="searchformtab">
                            <input name="qr" id="qr_search" class="kw-mobile" placeholder="Search tour, infomation,..." type="text">
                                <a href="#" class="closeX" onclick="$('.search-pc').hide(); return false;">✕</a>        
                              
                                <a href="#" class="submit-search-pc" onclick="$('#searchformtab').submit();return false;"> 
                                  <i class="fa fa-search search-icon" aria-hidden="true"></i> 
                                  </a>
                              </div>  
                         </form>
                    </div>
                    <script type="text/javascript">

                        $(".submit-search-pc").click(function () {
                            if ($("#qr_search").val() != "")
                                $('#searchformtab').submit();
                            return false;

                        });

                        $(document).ready(function () {
                            $(".search-icon").click(function () {
                                $(".search-pc").stop().slideToggle("fast");
                                return false;
                            });
                        });
                    </script>  	
                    <div class="c"></div>
                </div>
              </ul>
           </div>
          </div>
        </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <header class="header hide-on-pc error">
      <div class="mobile-bar hide-on-pc">
        <div class="grid">
            <div class="flex-container align-center">
                <div class="cell-1-3">
                   
                    <a class="menu-mobile" href="#menu">
                      <i class="fas fa-bars"></i>
                   </a>
                   
                </div>
                <div class="cell-1-3">
                 
                  <div class="logo">
                      <a href="/">
                        <img src="/uploaded/logo/Logo_full 1.png" alt="Logo web" style="max-width: 100%; margin: 0 auto" />
                      </a>
                  </div>
                 
              </div>
            
                <div class="icon-search search-mb" >
                  <i class="fa fa-search search-iconmb" aria-hidden="true"></i>
                    <div class="frm-search-mb" style="">
                     <form action="/search/" method="get" id="searchformtab">
                        <input name="qr" class="kw-mobile" placeholder="Tìm kiếm " type="text">
                        <a href="#" class="submit-search-pc" onClick="$('#searchformtab').submit(); return false;"> 
                          <i class="fa fa-search" aria-hidden="true"></i> </a>
  
                        <a href="#" class="closeX" onClick="$('.frm-search-mb').hide(); return false;">&#10005;</a>        
                      </form>
                    </div> 
                    
                    <script>
                      $(document).ready(function () {
                      $(".search-iconmb").click(function () {
                        $(".frm-search-mb").stop().slideToggle("fast");
                        return false;
                      });
                      });
                    </script>  	
                   </div>
               
            </div>
            </div>
        </div>
        <div class="c"></div>
      
    </header>
    <!-- content -->
    <div class="content">
    
      <!-- slideshow -->
      <div class="swiper-container" id="slide_home">
    
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slidehome">
              <img class="hide-on-mobile" src="/uploaded/slideshow/item1.png" alt="" style="width: 100%" />
              <div class="slidehome-content">
                <div class="grid">
                  <div class="slidehome-subtitle">
                    
                    Explore Vietnam <span> Like a Local</span> with
                  </div>
                  <div class="c10"></div>
                  <h2 class="slisdehome-title">THE LEADING VIETNAM TOUR OPERATOR</h2>
                    <div class="c30"></div>
                    <div class="text-line-2">
                      Exclusive Vietnam Tours Tailored for Indian Travelers. Organized by Vietnamtour.in – The Vietnam Leading Local Tour Operator with Representative in Kolkata.

                    </div>
                    <div class="c20"></div>
                    <div class="flex-container">
                      <div class="cell-1-3">
                        <div class="slidehome-item">
                          <img src="/uploaded/ico/tripadvisor.png" alt="">
                          <div class="slidehome-box">
                            <div class="slidehomeitem-title"> 
                              5/5 Rating
                            </div>
                            TripAdvisor
                          </div>
                        </div>
                      </div>
                      <div class="cell-1-3">
                        <div class="slidehome-item">
                          <img src="/uploaded/ico/designed-by-local-experts.png" alt="">
                          <div class="slidehome-box">
                            <div class="slidehomeitem-title"> 
                              Designed
                            </div>
                            by Local Experts
                          </div>
                        </div>
                      </div>
                      <div class="cell-1-3">
                        <div class="slidehome-item">
                          <img src="/uploaded/ico/best-value-with-lowest-price-1.png" alt="">
                          <div class="slidehome-box">
                            <div class="slidehomeitem-title"> 
                              No Middle Man
                            </div>
                           better price for you.  
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
            </div>
            </div>
        </div>
        <div class="swiper-slide">
          <div class="slidehome">
            <img class="hide-on-mobile" src="/uploaded/slideshow/item1.png" alt="" style="width: 100%" />
          </div>
        </div>
      
      </div>
      <div class="ux-shape-divider">
        <svg viewBox="0 0 1000 300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
          <path class="ux-shape-fill" opacity="0.05" d="M1014 264V386H206L34 300C34 300 344.42 277.16 436 221C542 156 590 160 704 209C811 255 899.11 214.94 979 346L1014 264Z"></path>
          <path class="ux-shape-fill" opacity="0.1" d="M-302 55C-302 55 -66.73 263.25 50 214C178 160 283 116 353 141C445.68 174.1 534.28 256.19 588 249C692.9 235 764.52 75.94 855 131C940.61 183.09 1000 254 1000 254V328L-306 338L-302 55Z"></path>
          <path class="ux-shape-fill" opacity="0.15" d="M-286 255C-286 255 -72 152 52 126C176 100 255 155 436 227C581.57 284.91 614.7 277.79 708 227C787 184 1009 3.0001 1093 164C1146 265.63 1031 293 1031 293L924 377L-288 389L-286 255Z"></path>
          <path class="ux-shape-fill" opacity="0.3" d="M-24 69C-24 69 275.68 370.66 389 314C397 310 622 316 673 356C690.47 369.7 845 224 890 182C944.8 130.85 1018 92 1078 143C1154.12 207.7 1196 242 1196 242L1184 374L-28 386L-24 69Z"></path>
          <path class="ux-shape-fill" d="M-12 201C-12 201 58 284 182 258C306 232 342.29 221.23 456 264C565 305 640.82 288.36 721 249C776 222 837.5 191.31 935 253C984 284 1030 279 1030 279L1024 430L-12 440V201Z"></path>
        </svg>
      </div>
      </div>
      <script>
        $(function () {
          var swiper_slide_home = new Swiper("#slide_home", {
            loop: true,
            slidesPerView: 1,
            autoHeight:true,
            autoplay: {
              simulateTouch: true,
              delay: 5000000,
              disableOnInteraction: false,
            },
            spaceBetween: 0,
            // navigation: {
            //   nextEl: ".swiper-button-next",
            //   prevEl: ".swiper-button-prev",
            // },
            pagination: {
              el: ".swiper-pagination",
              clickable: true,
            },
            speed: 500,
            spaceBetween: 0,
          });

          $("#slide_home").on("mouseover", function () {
            swiper_slide_home.autoplay.stop();
          });
          $("#slide_home").on("mouseout", function () {
            swiper_slide_home.autoplay.start();
          });
        });
      </script>
      <!-- end slideshow -->
      
      <div class="homereview-wrapper">
        <div class="c30"></div>
        <div class="c30"></div>
        <div class="grid">
         <div class="text-center">
          <div class="subcat-title ">
            Our Beloved Customers
          </div>
          <div class="c10"></div>
          <div class="cat-intro">
            Hear from Indian Travelers Who Experienced Vietnam with VietnamTour.in
          </div>
          <div class="c10"></div>
          <div class="tripreview">
            <div class="tripreivew-title">
              Excellent
            </div>
            <img src="/uploaded/ico/tripadvisor star.png" width="100px" alt="">
            <div class="c10"></div>
            <div class="tripreview-intro">
              Based on <strong>915 reviews</strong>
            </div>
            <div class="c10"></div>
            <img src="/uploaded/ico/logoTRIP.svg" width="150px" alt="">
         </div>
          </div>
        
          <div class="flex-container">
            
          </div>
        </div>
      </div>
      <div class="homeinfo-wrapper">
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
          <div class="grid">
            <div class="homecat-title text-center">
               Giới thiệu
            </div>
            <div class="c10"></div>
            <div class="homecat-intro">
              Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries
              for previewing layouts and visual mockups
            </div>
            <div class="c30"></div>
          <div class="flex-container">
              <div class="cell-1-4 tab-cell-1-2">
                <div class="homenumber-item">
                    <span class="count">
                        90.000   +
                    </span>
                    <div class="c10"></div>
                    <div class="text-line-3 intro">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, nemo cum? Veniam iste quod, fugit aperiam, dolores repellendus dolorem modi eos illo vero minus id. Repellendus voluptate deleniti beatae voluptatum!
                    </div>
                </div>
              </div>
              <div class="cell-1-4 tab-cell-1-2">
                <div class="homenumber-item">
                    <span class="count">
                        90.000   +
                    </span>
                    <div class="c10"></div>
                    <div class="text-line-3 intro">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, nemo cum? Veniam iste quod, fugit aperiam, dolores repellendus dolorem modi eos illo vero minus id. Repellendus voluptate deleniti beatae voluptatum!
                    </div>
                </div>
              </div>
              <div class="cell-1-4 tab-cell-1-2">
                <div class="homenumber-item">
                    <span class="count">
                        90.000   +
                    </span>
                    <div class="c10"></div>
                    <div class="text-line-3 intro">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, nemo cum? Veniam iste quod, fugit aperiam, dolores repellendus dolorem modi eos illo vero minus id. Repellendus voluptate deleniti beatae voluptatum!
                    </div>
                </div>
              </div>
              <div class="cell-1-4 tab-cell-1-2">
                <div class="homenumber-item">
                    <span class="count">
                        90.000   +
                    </span>
                    <div class="c10"></div>
                    <div class="text-line-3 intro">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, nemo cum? Veniam iste quod, fugit aperiam, dolores repellendus dolorem modi eos illo vero minus id. Repellendus voluptate deleniti beatae voluptatum!
                    </div>
                </div>
              </div>
              <div class="cell-1-4 tab-cell-1-2">
                <div class="homenumber-item">
                    <span class="count">
                        90.000   +
                    </span>
                    <div class="c10"></div>
                    <div class="text-line-3 intro">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, nemo cum? Veniam iste quod, fugit aperiam, dolores repellendus dolorem modi eos illo vero minus id. Repellendus voluptate deleniti beatae voluptatum!
                    </div>
                </div>
              </div>
              <div class="cell-1-4 tab-cell-1-2">
                <div class="homenumber-item">
                    <span class="count">
                        90.000   +
                    </span>
                    <div class="c10"></div>
                    <div class="text-line-3 intro">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, nemo cum? Veniam iste quod, fugit aperiam, dolores repellendus dolorem modi eos illo vero minus id. Repellendus voluptate deleniti beatae voluptatum!
                    </div>
                </div>
              </div>
              <div class="cell-1-4 tab-cell-1-2">
                <div class="homenumber-item">
                    <span class="count">
                        90.000   +
                    </span>
                    <div class="c10"></div>
                    <div class="text-line-3 intro">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, nemo cum? Veniam iste quod, fugit aperiam, dolores repellendus dolorem modi eos illo vero minus id. Repellendus voluptate deleniti beatae voluptatum!
                    </div>
                </div>
              </div>
              <div class="cell-1-4 tab-cell-1-2"></div>
          </div>
          </div>
          
          <div class="c30"></div>
          <div class="c20 hide-on-mobile"></div>
      </div>        
      <div class="homenews-wrapper">
      
        <div class="c20 hide-on-mobile"></div>
        <div class="c30"></div>
            <div class="grid">
              <div class="homecat-title text-center">
                Tin tức - sự kiện
              </div>
              <div class="c30"></div>
               <div class="homenews">
                <div class="swiper-container slider-homenews">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="homenews-item">
                        <a href="#" class="">
                          <img src="/uploaded/tin-tuc/item1.png" alt="">
                        </a>
                        <div class="homenews-item__content">
                          <h2 class="homenews-item__name"> 
                            <a href="#" class="text-line-2">
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa, quibusdam quidem fuga possimus nam numquam quis quam. Iste earum eveniet nobis rerum quibusdam sunt necessitatibus voluptatem.
                            </a>
                            
                          </h2>
                          
                          <div class="text-line-5">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nemo assumenda fuga hic corrupti nihil quae labore amet iste quos facilis ipsum quam, tempora, vitae ad enim velit quis earum!
                          </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="homenews-item">
                        <a href="#" class="">
                          <img src="/uploaded/tin-tuc/item2.png" alt="">
                        </a>
                        <div class="homenews-item__content">
                          <h2 class="homenews-item__name"> 
                            <a href="#" class="text-line-2">
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa, quibusdam quidem fuga possimus nam numquam quis quam. Iste earum eveniet nobis rerum quibusdam sunt necessitatibus voluptatem.
                            </a>
                            
                          </h2>
                          
                          <div class="text-line-5">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nemo assumenda fuga hic corrupti nihil quae labore amet iste quos facilis ipsum quam, tempora, vitae ad enim velit quis earum!
                          </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="homenews-item">
                        <a href="#" class="">
                          <img src="/uploaded/tin-tuc/item3.png" alt="">
                        </a>
                        <div class="homenews-item__content">
                          <div class="homenews-item__content">
                            <h2 class="homenews-item__name"> 
                              <a href="#" class="text-line-2">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa, quibusdam quidem fuga possimus nam numquam quis quam. Iste earum eveniet nobis rerum quibusdam sunt necessitatibus voluptatem.
                              </a>
                              
                            </h2>
                            
                            <div class="text-line-5">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nemo assumenda fuga hic corrupti nihil quae labore amet iste quos facilis ipsum quam, tempora, vitae ad enim velit quis earum!
                            </a>
                            </div>
                          </div>
                      </div>
                    </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="homenews-item">
                        <a href="#" class="">
                          <img src="/uploaded/tin-tuc/item2.png" alt="">
                        </a>
                        <div class="homenews-item__content">
                          <h2 class="homenews-item__name"> 
                            <a href="#" class="text-line-2">
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa, quibusdam quidem fuga possimus nam numquam quis quam. Iste earum eveniet nobis rerum quibusdam sunt necessitatibus voluptatem.
                            </a>
                            
                          </h2>
                          
                          <div class="text-line-5">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nemo assumenda fuga hic corrupti nihil quae labore amet iste quos facilis ipsum quam, tempora, vitae ad enim velit quis earum!
                          </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide"> 
                      <div class="homenews-item">
                        <a href="#" class="">
                          <img src="/uploaded/tin-tuc/item1.png" alt="">
                        </a>
                        <div class="homenews-item__content">
                          <h2 class="homenews-item__name"> 
                            <a href="#" class="text-line-2">
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa, quibusdam quidem fuga possimus nam numquam quis quam. Iste earum eveniet nobis rerum quibusdam sunt necessitatibus voluptatem.
                            </a>
                            
                          </h2>
                          
                          <div class="text-line-5">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nemo assumenda fuga hic corrupti nihil quae labore amet iste quos facilis ipsum quam, tempora, vitae ad enim velit quis earum!
                          </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="homenews-item">
                        <a href="#" class="">
                          <img src="/uploaded/tin-tuc/item3.png" alt="">
                        </a>
                        <div class="homenews-item__content">
                          <div class="homenews-item__content">
                            <h2 class="homenews-item__name"> 
                              <a href="#" class="text-line-2">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa, quibusdam quidem fuga possimus nam numquam quis quam. Iste earum eveniet nobis rerum quibusdam sunt necessitatibus voluptatem.
                              </a>
                              
                            </h2>
                            
                            <div class="text-line-5">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nemo assumenda fuga hic corrupti nihil quae labore amet iste quos facilis ipsum quam, tempora, vitae ad enim velit quis earum!
                            </a>
                            </div>
                          </div>
                      </div>
                      </div>
                    </div>
                    
                  </div>
                
                </div>
                <div class="slide-btn-next homenews-button-next"><i class="fas fa-chevron-right"></i></div>
                <div class="slide-btn-prev homenews-button-prev"><i class="fas fa-chevron-left"></i></div>
                  
               </div>
            </div>
            <div class="c30"></div>
        <script>
          $(function () {
            var slideproduct = new Swiper(".slider-homenews", {
        
            loop: true,
            
          
            spaceBetween: 20,
            autoplay:true,
            pagination: {
              
              clickable: true,
            },
            navigation: {
                    nextEl: '.homenews-button-next',
                    prevEl: '.homenews-button-prev'
                },
            breakpoints: {
                  // when window width is >= 320px
                  320: {
                    slidesPerView: 1,
                    spaceBetween: 20
                  },
                  // when window width is >= 480px
                  768: {
                    slidesPerView: 2.5,
                    spaceBetween: 30
                  },
                  // when window width is >= 640px
                  1040: {
                    slidesPerView: 3,
                    spaceBetween: 40
                  },
                  1600: {
                    slidesPerView: 3,
                    spaceBetween: 20
                  }
                }
              })
          
  
          });
        </script>
      </div>
      
          
    <!-- end content -->

    </div>
    <!-- footer -->
    <footer class="footer">
     <div class="c30"></div>
      <div class="footer-main">
        <div class="grid">

          <div class="flex-container">
            <div class="cell-1-4 tab-cell-1-1">
              <div class="c30"></div>
                <a href="#">
                    <img src="/uploaded/logo/logo.png" alt="">
                </a>
                <div class="c20"></div>
                <h2 class="footer-title"></h2>
              
                <ul class="footer-social">
            
                  <li class="facebook  hvr-float">
                    <a href="https://www.facebook.com/hocbongvnu" class="footer-social__item">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="youtube  hvr-float">
                    <a href="#" class="footer-social__item">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </li>
                 
                  <li class="instagram  hvr-float">
                    <a href="" class="footer-social__item">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                 
                </ul>
               
            </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
              <div class="footer-title footer-title-mobile" rel="ct">
                 liên hệ
              </div>
             
                <div class="info">
                  Trụ sở: 85 Phố Vương Thừa Vũ, Thanh Xuân, Hà nội
                </div>
                <div class="info">
                  <b>Điện thoại:</b> 0869 066 288 
                 
              </div>
              <div class="info">
                <b> Email:</b>info@company.com
            </div>

              </div>
          </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                  


              <div class="c5 hide-on-tab"></div>

              <ul class="menuboxfooter" id="boxcol5">
              <li><a href="/gioi-thieu-chung/"> Giới thiệu chung</a></li>
              <li><a href="/tam-nhin-chien-luoc/"> Tầm nhìn chiến lược </a></li>
              <li><a href="/gia-tri-cot-loi/"> Giá trị cốt lõi</a></li>
              </ul>
              <div class="c10"></div>

              </div>

          </div>
          
            <div class="footer-block">
              <div class="footer-title footer-title-mobile" rel="ct">
                  Đăng ký nhận tin
              </div>
              <form action="" method="post" class="sendmail__frm">

                <input type="text" name="newsletter" class="sendmail__input" placeholder="Email của bạn">

                <button type="submit" name="addnewsletter" value="save" class="sendmail__btn">
                  Đăng Ký
                </button>
              </form>
            </div>
        </div>
  
        <div class="footer-copyright">
          <div class="grid">
            Copyright © 2023 companys
          </div>
        </div>
           
        </div>
      </div>

     
    </footer>
    <!-- end footer -->
</div>


  <script src="/js/jquery.fancybox.js"></script>
 
  
  <script src="/js/script.js"></script>

  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>

  
</body>

</html>
