<!doctype html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml"  xml:lang="vi">
  <head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes"/>
    
    <meta name="theme-color" content="#0099ff"/>
    <meta http-equiv="Content-Language" content="VN" />
    <meta name="description" content="homepage" />
    <meta name="keywords" content="" />
    <meta property="og:url" name="og:url" content="https://mjchem.24h.co/" data-app/>
    <meta property="og:type" name="og:type" content="website" data-app/>
    <meta property="og:description" name="og:description" content="homepage" data-app/>
    <meta property="og:title" name="og:title" content="Home" data-app/>
    <meta property="og:image" name="og:image" content="https://mjchem.24h.co/uploaded/logo/logo.png" data-app>
    <meta property="og:image:alt" name="og:image:alt" content="https://mjchem.24h.co/uploaded/logo/logo.png" data-app>
    <link rel="canonical" href="https://mjchem.24h.co/" />
    <link href="/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/grid.css"/>
    <link rel="stylesheet" type="text/css" href="/css/responsive.css"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
      <script src="/js/script.js"></script>
    </head>
  <body>
  <div id="page">
    <header class="header hide-on-tab">
    
    <div class="grid">
        <div class="flex-container align-center">
            <div class="cell-1-5 tab-cell-1-1">
                <!-- <div class="logo">
                    <a href="/">
                      <img src="/uploaded/logo/logo.png" alt="LogoSite">
                    </a>
                </div> -->
                <div class="lang">
                  <a href="#">Vi</a> | EN
                </div>
            </div>
            <div class="cell-4-5 tab-cell-1-1">
                <div class="burger">
                  <div class=""></div>
                  <div class=""></div>
                  <div class=""></div>
                </div>
              
                <div class="menubar">
                  <div class="closeX">
                   <a href="#"> <i class="fa fa-close" aria-hidden="true"></i></a>
                  </div>
                    <ul class="nav">
                        <li class=" active ">
                            <a href="/" class=""><span style="background-image:url()"> Trang chủ       </span> </a>
                        </li>
                        <li class=" ">
                            <a href="/" class="">
                                <span style="background-image:url()"> Giới thiệu</span>
                            </a>
                            
                        </li>
                        <li class=" ">
                            <a href="/" class=""><span style="background-image:url()"> Dịch vụ     </span> </a>
                        </li>
                        <li class=" ">
                            <a href="/" class=""><span style="background-image:url()"> Sản phẩm  </span> </a>
                        </li>
                        <li class=" ">
                            <a href="/" class=""><span style="background-image:url()"> Tin tức nổi bật </span> </a>
                        </li>
                        <li class=" ">
                            <a href="/" class=""><span style="background-image:url()"> Liên hệ </span> </a>
                        </li> 
                    </ul>
                
                  
                    
                </div>
            </div>
        </div>
    </div>
  </header>
  <script>
    $(".burger").click(function(){
      $(".menubar").toggleClass('active')
    })
    $(".closeX").click(function(){
      $(".menubar").removeClass('active')
    })
  </script>
</div>

    </header>
    <div class="content">
      
      <div class="swiper-container" id="slide_home">
        <div class="homeslide-next">  </div>
        <div class="homeslide-prev">  </div>
          <div class="swiper-wrapper"> 
            <div class="swiper-slide" style="position:relative; overflow: hidden;">
              <img src="/uploaded/slideshow/item1.jpg" alt="slide image home" width="100%"/>
             
            </div>
          </div>
      </div>
      <div class="c30"></div>
      <div class="c20 hide-on-mobile"></div>
     <div class="slidehome-intro">
      <div class="grid">
        <div class="text-center">
          Nơi sự sáng tạo được thăng hoa và kiến tạo nên những khoảnh khắc hạnh phúc trong ngày cưới của bạn.
          <br>
          Nơi lắng nghe và thấu hiểu nhưng mong muốn sâu thẳm bên trong con người bạn.
          <br>
          Nơi bạn có thể hoàn toàn thư giãn…và ngắm nhìn từng chi tiết của đám cưới trong mơ của mình trở thành sự thật.
        </div>
        <div class="c30"></div>
      </div>
     </div>
  
     <div class="homeinfo-wrapper">
      <div class="c30"></div>
      <div class="c20 hide-on-mobile"></div>
      <div class="grid">
      
        <div class="swiper slider-homeinfo">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/uploaded/gioi-thieu/item1.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img src="/uploaded/gioi-thieu/item2.jpg" alt="">
          </div>
            <div class="swiper-slide">
              <img src="/uploaded/gioi-thieu/item3.jpg" alt="">
          </div>
            <div class="swiper-slide">
              <img src="/uploaded/gioi-thieu/item3.jpg" alt="">
          </div>
          </div>
        </div>
        <script>
          $(function () {
            var slidehomeinfo = new Swiper(".slider-homeinfo", {  
              slidesPerView: 3,
              loop: true,
              centeredSlides:true,
                breakpoints: {       
                  320: {
                    slidesPerView: 1,
                  },
                  768: {
                    slidesPerView: 2.5,
                  }, 
                  1040: {
                    slidesPerView: 3,
                  },
                  1600: {
                    slidesPerView: 3,
                  }
                }
              })
          

          });
        </script>
        <div class="c30"></div>
        <div class="homeinfo-content">
          <div class="text-center">
            Chúng tôi tự hào là một trong các công ty tư vấn và tổ chức tiệc cưới chuyên nghiệp có hơn 10 năm kinh nghiệm.
            <br>
            Sở hữu đội ngũ trẻ trung, nhiệt huyết đã thực hiện hàng ngàn tiệc cưới cho các cặp đôi trên khắp cả nước, cũng như các cặp đôi nước ngoài tổ chức tiệc cưới tại đất nước Việt Nam xinh đẹp.. 
            Chúng tôi hiểu được mong muốn của khách hàng trong ngày trọng đại của cuộc đời mình...
          </div>
        </div>
        </div>
      </div>
      
      <div class="infohot-wrapper">
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
        <div class="grid-more">
          <div class="infohot-item">
            <div class="flex-container align-center ">
              <div class="cell-2-4 tab-cell-1-1 infohot-img">
                  <img src="/uploaded/gioi-thieu/item2.jpg" alt="">
              </div>
              <div class="cell-2-4 tab-cell-1-1 infohot-box">
                <div class="subtitle text-center">
                  Chúng tôi tin rằng <br> vẻ đẹp thật sự nằm trong từng chi tiết 
                </div>
                <div class="c30"></div>
                <div class="text-center">
                  Chúng tôi tạo ra từng chi tiết một cách có chủ ý
                  Đảm bảo rằng tiệc cưới của bạn sẽ kể một câu chuyện độc đáo như chính tình yêu của bạn
                </div>
              </div>
            </div>
          </div>
          
          <div class="infohot-item">
            <div class="flex-container align-center ">
              <div class="cell-2-4 tab-cell-1-1 infohot-box">
                <div class="subtitle text-center">
                  Những ký ức đẹp đẽ <br>
                  sẽ mãi trường tồn                
                </div>
                <div class="c30"></div>
                <div class="text-center">
                  Chúng tôi tin rằng mỗi tiệc cưới là một câu chuyện tình yêu hoàn toàn khác biệt, và mỗi khoảnh khắc đó sẽ luôn đọng lại trong ký ức của mỗi cặp đôi. Chúng tôi hi vọng sẽ giúp cho các cặp đôi lưu giữ được những ký ức đẹp đẽ đó mãi mãi...
                </div>
              </div>
              <div class="cell-2-4 tab-cell-1-1 infohot-img">
                <img src="/uploaded/gioi-thieu/item2.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="homeservice-wrapper">
        <div class="grid-more">
          <div class="flex-container align-center">
            <div class="cell-2-5 tab-cell-1-1">
              <img src="/uploaded/dichvu/homecat.jpg" alt="">
            </div>
            <div class="cell-3-5 tab-cell-1-1">
              <div class="homeservice-box">
                <div class="homecat-title text-center">
                  PHI ĐIỆP WEDDING PLANNER
                  CUNG CẤP DỊCH VỤ GÌ?
                </div>
                <div class="c30"></div>
                <div class="homeservie-item ">
                  <div class="subtitle text-center">
                    <a href="#">  Wedding Planning </a>
                  </div>
                  <div class="c20"></div>
                  <div class="homeservice-intro">
                    Chúng tôi sẽ cung cấp các dịch vụ tư vấn liên quan đến đám cưới của bạn, với đội ngũ wedding planner trẻ trung, nhiệt tình sẽ luôn khiến cho đám cưới của bạn trở nên dễ dàng hơn
                  </div>
                </div>
                <div class="homeservie-item ">
                  <div class="subtitle text-center">
                    <a href="#">  Wedding Decoration</a>
                  </div>
                  <div class="c20"></div>
                  <div class="homeservice-intro">
                    Chúng tôi có các dịch vụ từ thiết kế, thi công cũng như setup trang trí, để đảm bảo khách hàng không cần mất nhiều thời gian khi phải lựa chọn các dịch vụ trọn gói trong ngày
                  </div>
                </div>
                <div class="homeservie-item ">
                  <div class="subtitle text-center">
                    <a href="#">  Destination Wedding </a>
                  </div>
                  <div class="c20"></div>
                  <div class="homeservice-intro">
                   
                    Bạn sẽ không cần lo lắng khi muốn tổ chức một đám cưới ở nơi xa vì đã có chúng tôi, đám cưới của bạn sẽ trở nên hoàn hảo khi có sự đồng hành của Phi Diep Wedding Planner  Chúng tôi sẽ cung cấp các dịch vụ tư vấn liên quan đến đám cưới của bạn, với đội ngũ wedding planner trẻ trung, nhiệt tình sẽ luôn khiến cho đám cưới của bạn trở nên dễ dàng hơn
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="homeservice-wrapper">
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
        <div class="grid">
          <div class="flex-container">
            <div class="cell-1-2 tab-cell-1-1">
              <div class="homecat-title">
              Our solution
              </div>
              <div class="c20"></div>
              <div class="homecat-intro">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, rerum beatae tenetur voluptatum enim fugit consequatur dolores deleniti porro incidunt quibusdam a omnis praesentium dolor voluptas corrupti ea fuga eligendi!
              </div>
            </div>
          </div>
          
          <div class="homeservice" style="position: relative;">
            <div class="c30"></div>
            <div class="swiper slider-homeservice">
              <div class="swiper-wrapper">
                
                <div class="swiper-slide">
                  <div class="homeservice-item">
                    <a href="/paper-industry.html">
                    <img src="/temp/-uploaded-dichvu_item (1)_cr_480x480.jpg"  width="100%">
                    </a>
                    <div class="homeservice-box">
                      <div class="homeservice-name">  
                        <a href="/paper-industry.html"> Paper Industry</a>
                      </div>
                      <div class="c"></div>
                    
                    </div>
                  </div>
                </div>
                
                <div class="swiper-slide">
                  <div class="homeservice-item">
                    <a href="/mining-industry.html">
                    <img src="/temp/-uploaded-dichvu_item (3)_cr_480x480.jpg"  width="100%">
                    </a>
                    <div class="homeservice-box">
                      <div class="homeservice-name">  
                        <a href="/mining-industry.html">Mining industry</a>
                      </div>
                      <div class="c"></div>
                    
                    </div>
                  </div>
                </div>
                
                <div class="swiper-slide">
                  <div class="homeservice-item">
                    <a href="/cooling-tower-application.html">
                    <img src="/temp/-uploaded_istockphoto-1180520251-612x612_cr_480x480.jpg"  width="100%">
                    </a>
                    <div class="homeservice-box">
                      <div class="homeservice-name">  
                        <a href="/cooling-tower-application.html">Cooling Tower Application</a>
                      </div>
                      <div class="c"></div>
                    
                    </div>
                  </div>
                </div>
                
                <div class="swiper-slide">
                  <div class="homeservice-item">
                    <a href="/clean-the-equipment-system.html">
                    <img src="/temp/-uploaded_Hero-scaled_cr_480x480.jpg"  width="100%">
                    </a>
                    <div class="homeservice-box">
                      <div class="homeservice-name">  
                        <a href="/clean-the-equipment-system.html">Clean the equipment system</a>
                      </div>
                      <div class="c"></div>
                    
                    </div>
                  </div>
                </div>
              
              </div>
            </div>
            <div class="slide-btn-next homeservice-button-next"><i class="fas fa-chevron-right"></i></div>
            <div class="slide-btn-prev homeservice-button-prev"><i class="fas fa-chevron-left"></i></div>
          </div>
          <script>
            $(function () {
              var slidehomeservice = new Swiper(".slider-homeservice", {
          
              loop: true,
              
            
              spaceBetween: 20,
              autoplay:true,
              pagination: {
                
                clickable: true,
              },
              navigation: {
                      nextEl: '.homeservice-button-next',
                      prevEl: '.homeservice-button-prev'
                  },
              breakpoints: {
                    // when window width is >= 320px
                    320: {
                      slidesPerView: 1,
                      spaceBetween: 20
                    },
                    // when window width is >= 480px
                    768: {
                      slidesPerView: 2.5,
                      spaceBetween: 20
                    },
                    // when window width is >= 640px
                    1040: {
                      slidesPerView: 3,
                      spaceBetween: 20
                    },
                    1600: {
                      slidesPerView: 3,
                      spaceBetween: 20
                    }
                  }
                })
            

            });
          </script>
        </div>
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
      </div>  

      <div class="homenews-wrapper" style="position: relative;">
        <div class="c20 hide-on-mobile"></div>
        <div class="c30"></div>
        <div class="grid">
            <div class="homecat-title">
                News & event
            </div>
            <div class="c30"></div>
            <div class="homenews">
                <div class="swiper slider-homenews">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="homenews-item">
                                <a href="/tieu-de.html" class="">
                                <img src="/temp/-uploaded-tin-tuc_item1_cr_444x294.png"  width="100%" alt="Tiêu đề ">
                                </a>
                                <div class="homenews-box">
                                  <div class="creatdate">
                                    September 25/2024
                                  </div>
                                  <div class="c5"></div>
                                  <div class="homenews-name"> 
                                    <a href="/tieu-de.html" class="text-line-2">
                                    Tiêu đề 
                                    </a>
                                    
                                  </div>
                                  <div class="c10"></div>
                                  <div class="text-line-2">
                                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or
                                  </a>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="homenews-item">
                                <a href="/many-desktop-publishing-packages-and-web-page-editors-now-use-lorem-ipsum.html" class="">
                                <img src="/temp/-uploaded-tin-tuc_item6_cr_444x294.png"  width="100%" alt="Many desktop publishing packages and web page editors now use Lorem Ipsum ">
                                </a>
                                <div class="homenews-box">
                                  <div class="creatdate">
                                    August 05/2024
                                  </div>
                                  <div class="c5"></div>
                                  <div class="homenews-name"> 
                                    <a href="/many-desktop-publishing-packages-and-web-page-editors-now-use-lorem-ipsum.html" class="text-line-2">
                                    Many desktop publishing packages and web page editors now use Lorem Ipsum 
                                    </a>
                                    
                                  </div>
                                  <div class="c10"></div>
                                  <div class="text-line-2">
                                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &#39;Content here, content here&#39;, making it look like readable English.
                                  </a>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="homenews-item">
                                <a href="/lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-voluptatibus-facilis-explicabo-facere-culpa.html" class="">
                                <img src="/temp/-uploaded-tin-tuc_item1_cr_444x294.png"  width="100%" alt="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa">
                                </a>
                                <div class="homenews-box">
                                  <div class="creatdate">
                                    August 05/2024
                                  </div>
                                  <div class="c5"></div>
                                  <div class="homenews-name"> 
                                    <a href="/lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-voluptatibus-facilis-explicabo-facere-culpa.html" class="text-line-2">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa
                                    </a>
                                    
                                  </div>
                                  <div class="c10"></div>
                                  <div class="text-line-2">
                                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&#39;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#39;t anything embarrassing hidden in the middle of text. All
                                  </a>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="homenews-item">
                                <a href="/many-desktop-publishing-packages-and-web-page-editors-now-use-lorem-ipsum.html" class="">
                                <img src="/temp/-uploaded-tin-tuc_item5_cr_444x294.png"  width="100%" alt="Many desktop publishing packages and web page editors now use Lorem Ipsum ">
                                </a>
                                <div class="homenews-box">
                                  <div class="creatdate">
                                    August 05/2024
                                  </div>
                                  <div class="c5"></div>
                                  <div class="homenews-name"> 
                                    <a href="/many-desktop-publishing-packages-and-web-page-editors-now-use-lorem-ipsum.html" class="text-line-2">
                                    Many desktop publishing packages and web page editors now use Lorem Ipsum 
                                    </a>
                                    
                                  </div>
                                  <div class="c10"></div>
                                  <div class="text-line-2">
                                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &#39;Content here, content here&#39;, making it look like readable English.
                                  </a>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="homenews-item">
                                <a href="/many-desktop-publishing-packages-and-web-page-editors-now-use-lorem-ipsum.html" class="">
                                <img src="/temp/-uploaded-tin-tuc_item6_cr_444x294.png"  width="100%" alt="Many desktop publishing packages and web page editors now use Lorem Ipsum ">
                                </a>
                                <div class="homenews-box">
                                  <div class="creatdate">
                                    August 05/2024
                                  </div>
                                  <div class="c5"></div>
                                  <div class="homenews-name"> 
                                    <a href="/many-desktop-publishing-packages-and-web-page-editors-now-use-lorem-ipsum.html" class="text-line-2">
                                    Many desktop publishing packages and web page editors now use Lorem Ipsum 
                                    </a>
                                    
                                  </div>
                                  <div class="c10"></div>
                                  <div class="text-line-2">
                                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &#39;Content here, content here&#39;, making it look like readable English.
                                  </a>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="homenews-item">
                                <a href="/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit.html" class="">
                                <img src="/temp/-uploaded-dichvu_item (1)_cr_444x294.jpg"  width="100%" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit">
                                </a>
                                <div class="homenews-box">
                                  <div class="creatdate">
                                    August 09/2024
                                  </div>
                                  <div class="c5"></div>
                                  <div class="homenews-name"> 
                                    <a href="/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit.html" class="text-line-2">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </a>
                                    
                                  </div>
                                  <div class="c10"></div>
                                  <div class="text-line-2">
                                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa
    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&#39;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#39;t anything embarrassing hidden in the middle of text. All
                                  </a>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="homenews-item">
                                <a href="/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit.html" class="">
                                <img src="/temp/-uploaded-dichvu_item (1)_cr_444x294.jpg"  width="100%" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit">
                                </a>
                                <div class="homenews-box">
                                  <div class="creatdate">
                                    August 09/2024
                                  </div>
                                  <div class="c5"></div>
                                  <div class="homenews-name"> 
                                    <a href="/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit.html" class="text-line-2">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </a>
                                    
                                  </div>
                                  <div class="c10"></div>
                                  <div class="text-line-2">
                                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa
    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&#39;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#39;t anything embarrassing hidden in the middle of text. All
                                  </a>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="homenews-item">
                                <a href="/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit.html" class="">
                                <img src="/temp/-uploaded-dichvu_item (1)_cr_444x294.jpg"  width="100%" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit">
                                </a>
                                <div class="homenews-box">
                                  <div class="creatdate">
                                    August 09/2024
                                  </div>
                                  <div class="c5"></div>
                                  <div class="homenews-name"> 
                                    <a href="/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit.html" class="text-line-2">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </a>
                                    
                                  </div>
                                  <div class="c10"></div>
                                  <div class="text-line-2">
                                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa
    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&#39;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#39;t anything embarrassing hidden in the middle of text. All
                                  </a>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="homenews-item">
                                <a href="/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit.html" class="">
                                <img src="/temp/-uploaded-dichvu_item (1)_cr_444x294.jpg"  width="100%" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit">
                                </a>
                                <div class="homenews-box">
                                  <div class="creatdate">
                                    August 09/2024
                                  </div>
                                  <div class="c5"></div>
                                  <div class="homenews-name"> 
                                    <a href="/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit.html" class="text-line-2">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </a>
                                    
                                  </div>
                                  <div class="c10"></div>
                                  <div class="text-line-2">
                                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa
    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&#39;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#39;t anything embarrassing hidden in the middle of text. All
                                  </a>
                                  </div>
                                </div>
                              </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
        <script>
            $(function () {
                var homenews = new Swiper(".slider-homenews", {

                    loop: true,

                    spaceBetween: 20,
                    autoplay: true,
                    pagination: {

                        clickable: true,
                    },
            slidesPerView: 3,
                    navigation: {
                        nextEl: '.homenews-button-next',
                        prevEl: '.homenews-button-prev'
                    },
                    breakpoints: {
                        // when window width is >= 320px
                        320: {
                            slidesPerView: 1,
                            spaceBetween: 20
                        },
                        // when window width is >= 480px
                        768: {
                            slidesPerView: 2.5,
                            spaceBetween: 30
                        },
                        // when window width is >= 640px
                        1040: {
                            slidesPerView: 3,
                            spaceBetween: 40
                        },
                        1600: {
                            slidesPerView: 3,
                            spaceBetween: 20
                        }
                    }
                });

                $('.slider-homenews').on('mouseover', function () {
                    homenews.autoplay.stop();
                });
                $('.slider-homenews').on('mouseout', function () {
                    homenews.autoplay.start();
                });
                
            });
        </script>
      </div>

    </div>
    <footer class="footer">
      <div class="footer-main">
        <div class="grid">
        <div class="c30"> </div>
        <div class="flex-container">
          <div class="cell-1-4 tab-cell-1-1">
            <a href="/">
                <img src="/uploaded/logo/logo-w.png" style="max-width:110px" alt="">
            </a>
            <div class="c20"></div>
            <ul class="footer-social">
              <li class="facebook  hvr-float">
                  <a href="https://www.facebook.com/mjchem" class="footer-social__item">
                      <i class="fab fa-facebook-f"></i>
                  </a>
              </li>
              <li class="youtube  hvr-float">
                  <a href="https://www.youtube.com/@mjchem" class="footer-social__item">
                      <i class="fab fa-youtube"></i>
                  </a>
              </li>
              <li class="instagram  hvr-float">
                <a href="" class="footer-social__item">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              
            </ul>
          </div>
          <div class="cell-2-4 tab-cell-1-1">
            <div class="footer-block">
              <div class="content-f">
                <div class="footer-title">Company name</div>
                <div class="c5 hide-on-tab"></div>
                <div class="info"><b>Addess: </b>D2 Giang Vo, Ba Dinh, Ha Noi Viet Nam</div>

                <div class="info"><b>Phone number: </b> +49 173 6461600</div>

                <div class="info"><b>Email: </b> info@company.vn</div>

              </div>
            </div>
          </div>
          <div class="cell-1-4 tab-cell-1-1">
            <div class="footer-block">    
              <div class="footer-title hide-on-tab "> Title footer </div>
              <div class="c5 hide-on-tab"></div>
              <ul class="menuboxfooter" id="boxcol34">
                 <li><a href="#"> Menu footer 1</a> </li>
                 <li><a href="#"> Menu footer 2</a> </li>
                 <li><a href="#"> Menu footer 3</a> </li>
              </ul>
              <div class="c10"></div>
            </div>
        </div>
      </div>
        
      <div class="c10"> </div>
      <div class="c5"> </div>
      <div class="footer-menu">
        <ul class="menufooter">
            <li><a href="/our-company.html">Our company</a></li>
            <li><a href="/our-solution.html">Our solutions</a></li>
            <li><a href="/news.html">News</a></li>
            <li><a href="/product-safery.html">Product Safery</a></li>
        </ul>
        </div>
        <div class="footer-copyright">
          
          <div class="grid">
            ©2024 company.com
          </div>
        </div>
          
        </div>
      </div> 
    </footer>
  </div>


<!--
<div style="background: #1c4d99;">
    <div class="grid" >
    <ul class="menufooter">
        <li><a href="/our-company.html">Our company</a></li>
        <li><a href="/our-solution.html">Our solutions</a></li>
        <li><a href="/news.html">News</a></li>
        <li><a href="/product-safery.html">Product Safery</a></li>
    </ul>
    </div>
</div>

<a class="js-open-modal  dang-ky-tu-van hide-on-tab" data-modal-id="popupDangKy" href="#">
    <img src="/images/dang-ky-tu-van.gif" width="150"  > 

</a>

-->
<div id="popupDangKy" class="modal-box">
    <a href="#" class="js-modal-close close btn-close"> [×] </a>
    <div class="modal-body">
        <div class="dangky">
            <div style="padding:20px; border-radius:10px; min-height:320px; ">
                <form action="/index4.php?page=contact&lang=" method="post" id="regform" data-alert="Bạn cần nhập đủ thông tin vào những trường màu đỏ" data-captcha ="Mã captcha không đúng" data-success="Thông tin liên hệ đã được gửi thành công !" data-redirect="/contact-success/" >

                    <input type="hidden"  name="code" value="save" />                

                    <div class="form-title"> Tư vấn </div>
                    <div class="c10"></div>
                    <div class="form-label" style="text-align:center;"><i> Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất </i>  </div>
                    <div class="c10"></div>
                    <div class="c20"></div>

                    <input name="yourname" type="text" class="txt-contact notNull" placeholder="Họ tên (*)" id="yourname"  />
                    <div class="c10"></div>

                    <input name="phone" type="text" class="txt-contact notNull"  placeholder="Điện thoại (*)"  />
                    <div class="c10"></div>
                    <input name="address" type="text" class="txt-contact "  placeholder="Địa chỉ" />
                    <div class="c10"></div>

                    <select name="other_request" type="text" class="txt-contact">
                        <option value=""> Chọn hình thức tư vấn  </option>
                        <option value="Tư vấn mua hàng"> Tư vấn mua hàng </option>
                        <option value="Tìm đại lý, cửa hàng gần nhất">Tìm đại lý, cửa hàng gần nhất </option>

                    </select>
                    <div class="c10"></div>

                    <div style="position:relative;">
                        <input class="newsletter newsletter_b notNull" placeholder="Enter Captcha" name="sercurity"/>
                        <img src="/lib/imagesercurity.php?recaptcha=n" name="imgCaptcha" align="absmiddle" class="imgCaptcha newsletter-capt-img" style="height: 35px; position: absolute; top: 0px; right: 0px; " />

                    </div>


                    <div class="c20"></div>
                    <input name="input" type="button" onClick="$('#regform').submit()" class="btn-send" value="SEND" />
                    <div class="c5"></div>
                    <div class="msgbox" style="font-size: 20px; text-align:center;"> </div>		
                </form>


            </div>
        </div>			
    </div>
</div>	

<script>
  $(function () {

      var appendthis = ("<div class='modal-overlay js-modal-close'></div>");

      $('a[data-modal-id]').click(function (e) {
          e.preventDefault();
          $("body").append(appendthis);
          $(".modal-overlay").fadeTo(500, 0.7);
          var modalBox = $(this).attr('data-modal-id');
          $('#' + modalBox).fadeIn($(this).data());
      });

      $(".js-modal-close, .modal-overlay").click(function () {
          $(".modal-box, .modal-overlay").fadeOut(500, function () {
              $(".modal-overlay").remove();
          });
          return false;
      });


  });
</script>

<link rel="stylesheet" rel="preload" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
<link rel="stylesheet" href="/css/hover.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"  />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" ></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"  ></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/4.7.5/js/jquery.mmenu.min.all.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/4.7.5/css/jquery.mmenu.all.min.css"  crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div id="button-btt">
    <a href="#"><i class="fa fa-chevron-up"></i> </a>
</div>


<script>
    function check_newsletter() {
        ok = true;
        $('#newsletterForm .error').removeClass('error');
        $('#newsletterForm .notNull').each(function () {
            if ($(this).val() == '') {
                $(this).addClass('error');
                ok = false;
            }
        }
        );
        return ok;
    }

    $(function () {
        $('.countcart').html('(0)');
    });
</script>
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=648acdfc93018600124e74fc&product=inline-share-buttons' async='async'></script>
<link rel="stylesheet" href="/css/widget-call.css" />
</body>
</html>